.files {
    width: 470px;
    padding-top: 12px;
    background: #232323;
    overflow: scroll;

    .btn {
        margin-left: 9px;
        padding: 6px 50px;
        color: #CECECE;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-radius: 5px;
        background: #393939;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }
}